<body onkeydown='boku(event,this)'>
	<audio id='audio' preload></audio>
	<canvas></canvas>
	<input onblur='this.focus()'/>
	<script src='Pia.js'></script>
	<script src='texto.js'></script>
	<script src='Sd.js'></script>
	<script src='Alas De Fuego.js'></script>
	<script src='Alas De Fuego-ext.js'></script>
	<script src='Sdm.js'></script>
	<script src='Alas De Fuego-con.js'></script>
	<script src='AlasFuego%audio.js'></script>
</body>
