<body onkeydown='boku(event,this)'>
	<audio id='audio' preload></audio>
	<canvas></canvas>
	<input onblur='this.focus()'/>
	<script src='Pia.js'></script>
	<script src='texto.js'></script>
	<script src='Sd.js'></script>
	<script src='angeles_del_infierno_al_otro_lado_del_silencio.js'></script>
	<script src='Sdm.js'></script>
	<script src='LadoSilencio%extra.js'></script>
	<script src='LadoSilencio%audio.js'></script>
</body>
