<body onkeydown='boku(event,this)'>
	<audio id='audio' preload></audio>
	<canvas></canvas>
	<input onblur='this.focus()'/>
	<script src='Pia.js'></script>
	<script src='Sd.js'></script>
	<script src='CydoniaSyn.js'></script>
	<script src='Sdm.js'></script>
	<script src='texto.js'></script>
	<script src='CydoniaSyn%extra.js'></script>
	<script src='Cydonia%audio.js'></script>
</body>
