<body onkeydown='boku(event,this)'>
	<audio src='Vestido.mp3' id='audio' preload></audio>
	<canvas></canvas>
	<input onblur='this.focus()'/>
	<script src='Pia.js'></script>
	<script src='Sd.js'></script>
	<script src='Kraken - Vestido De Cristal (Pro).js'></script>
	<script src='Sdm.js'></script>
	<script src='texto.js'></script>
	<script src='Kraken - Vestido De Cristal (Pro)%extra.js'></script>
	<script src='Vestido%audio.js'></script>
</body>
