<body onkeydown='boku(event,this)'>
	<canvas></canvas>
	<input onblur='this.focus()'/>
	<script src='Pia.js'></script>
	<script src='Sd.js'></script>
	<script src='Los-Fabulosos-Cadillacs-Vasos-vacios.js'></script>
	<script src='Sdm.js'></script>
	<script src='texto.js'></script>
	<script src='Los-Fabulosos-Cadillacs-Vasos-vacios%extra.js'></script>
</body>
