<body onkeydown='boku(event,this)'>
	<canvas></canvas>
	<input onblur='this.focus()'/>
	<script src='Pia.js'></script>
	<script src='texto.js'></script>
	<script src='Sd.js'></script>
	<script src='muse-hysteria.js'></script>
	<script src='muse-hysteria-ext.js'></script>
	<script src='Sdm.js'></script>
	<script src='muse-hysteria-con.js'></script>
</body>
