<body onkeydown='boku(event,this)'>
	<canvas></canvas>
	<input onblur='this.focus()'/>
	<script src='Pia.js'></script>
	<script src='Sd.js'></script>
	<script src='Rata Blanca - Mujer Amante.js'></script>
	<script src='Sdm.js'></script>
	<script src='texto.js'></script>
	<script src='Rata Blanca - Mujer Amante%extra.js'></script>
</body>
