<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.min.js"></script>
<script src="enter-sandman%audio.js"></script>
<script>
	howl=new Howl({src:['enter-sandman.mp3'],sprite:audioh});
	function sonido(t){
		if(!audioh[t])return;
		howl.play(''+t);
	}
</script>