<body onkeydown='boku(event,this)'>
	<audio id='audio' preload></audio>
	<canvas></canvas>
	<input onblur='this.focus()'/>
	<script src='Pia.js'></script>
	<script src='texto.js'></script>
	<script src='Sd.js'></script>
	<script src='tierra_santa_dracula.js'></script>
	<script src='tierra_santa_dracula-ext.js'></script>
	<script src='Sdm.js'></script>
	<script src='tierra_santa_dracula-con.js'></script>
	<script src='Dracula%audio.js'></script>
</body>
